<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CorpHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CorpHelper.Properties.Settings>
            <setting name="EnableSleepPrevention" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SleepPreventionInterval" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="InTaskBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnLogin" serializeAs="String">
                <value>False</value>
            </setting>
        </CorpHelper.Properties.Settings>
    </userSettings>
</configuration>